h3{
    text-align: center;
}
#div01,#div02{
    border:solid 3px orange;
    height: 400px;
    width: 600px;

    margin: 0px auto;
    text-align: center;
    margin-top: 1px;
}
.imageBox{
    border:solid 1px blue;
    height: 300px;
    width: auto;
    text-align: left;
}
input[type="text"],input[type=file]{
    float: left;
}
input[type="button"],input[type="submit"]{
    align: right;
}
#p1{
    text-align: left;
    margin-right: 3px;
}
img[src=""],img:not([src]){

    opacity:0;

}
img{
    height:100%;
    width:auto;
}